
{% extends "base.html" %}
{% load static %}

    {% block title %}
        Вход
    {% endblock title %}

{% block content %}
    <div class="root">
        <main>
            <section class="main_head">
                <h3>Log In</h3>
            </section>
            <section class="alarm">
                <span style="color: red;">Sorry, wrong password!</span>
            </section>
            <section class="input">
                <form class="login-form" method="post" action="/api/login">
                    <ul class="form">
                        <li>
                            <span>Login</span>
                            <input type="text" name="username" placeholder="Enter your login" required>
                        </li>
                        <li>
                            <span>Password</span>
                            <input type="password" name="password" placeholder="Enter your password" required>
                        </li>
                        <li>
                            <span></span>
                            <button type="submit" class="log_in_button">Log in!</button>
                        </li>
                        <li>
                            <span></span>
                            <a href="{% url "signup_view" %}">create new account</a>
                        </li>
                    </ul>
                </form>
            </section>
        </main>
    
        {% include "aside.html" %}
    </div>
{% endblock content %}
