{% extends "base.html" %}
{% load static %}

{% block title %}
    Новый вопрос
{% endblock title %}

{% block content %}
    <div class="root">
        <main>
            <section class="new_question">
                <h3>New Question</h3>
            </section>
            <form action="{% url 'ask_view' %}", method="post">
                {% csrf_token %}
                <section class="form">
                    <ul>
                        <li>
                            <span>Title</span>
                            <div>
                                <input name="title" placeholder="Title" required>
                                <div class="error-message" data-field="title"></div>
                            </div>
                        </li>
                        <li class="question_text">
                            <span>Text</span>
                            <div>
                                <textarea name="content" class="question_text_box" placeholder="Question Text"></textarea>
                                <div class="error-message" data-field="title"></div>
                            </div>
                        </li>
                        <li>
                            <span>Tags</span>
                            <div>
                                <input name="tags" placeholder="Tags" required>
                                <div class="error-message" data-field="title"></div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <button type="submit" class="finale_ask">ASK!</button>
                        </li>
                    </ul>
                </section>
            </form>
        </main>
        {% include "aside.html" %}
    </div>
{% endblock content %}
