
{% extends "base.html" %}
{% load static %}

{% block title %}
    Регистрация
{% endblock title %}

{% block content %}
    <div class="root">
        <main>
            <section class="main_head">
                <h3>Register</h3>
            </section>
            <form class="register-form" method="post" action="/api/register">
                <section class="input">
                    <ul class="form">
                        <li>
                            <span>Login</span>
                            <input type="text" name="username" placeholder="Enter new login" required>
                        </li>
                        <li>
                            <span>Email</span>
                            <input type="email" name="email" placeholder="Enter new mail" required>
                        </li>
                        <li>
                            <span>NickName</span>
                            <input type="text" name="nickname" placeholder="Enter new NickName" required>
                        </li>
                        <li>
                            <span>Password</span>
                            <input type="password" name="password" placeholder="Enter your password" required>
                        </li>
                        <li>
                            <span>Repeat password</span>
                            <input type="password" name="password_confirmation" placeholder="Repeat your password" required>
                        </li>
                        <li class="avatar_form">
                            <span>Upload Avatar</span>
                            <div>
                                <div class="path">
                                    <input type="file" name="avatar" id="avatar" accept="image/*" style="display: none;">
                                    <input type="text" id="file-path" placeholder="No file chosen" readonly>
                                    <button type="button" class="choose" onclick="document.getElementById('avatar').click()">Choose</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <button type="submit" class="register_button">Register!</button>
                        </li>
                    </ul>
                </section>
            </form>
        </main>
        {% include "aside.html" %}
    </div>
{% endblock content %}
