.new_questions {
    display: flex;
    gap: 16px;
    align-items: center;
}
.leftside {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.leftside .likes {
    width: 32px;
}
.content {
    display: flex;
    border: 2px solid black;
}
.leftside {
    margin: 8px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}
.info_text {
    gap: 8px;
}
.info_footer {
    display: flex;
    gap: 8px;
}
.paginator {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.paginator>button {
    background-color: white;
    transition: background-color 0.25s ease-out;
    cursor: pointer;
    border: 2px solid black;
}
.paginator>button:hover {
    background-color: rgb(217, 252, 252);
}
button.no_click {
    cursor: default;
}
.paginator>button.no_click:hover{
    background-color: white;
}